@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.section{
    overflow: hidden;
}
/* Background Part Start */
.bg-part {
    background-image: url(../img/bgimg/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 198px 0;
}
.bg-part .container{
    width: 995px;
    margin: 0 auto;
}
.bg-con-main {
    margin-top: 125px;
    margin-left: 73px;
}
.bg-con-main h5{
    color: #444444;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.bg-con-main p{
    color: #757575;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    padding-top: 30px;
}
.click{
    border: 1px solid #434343;
    background: transparent;
    color: #444444;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 30px;
}
/* Background Part End */
/* Navbar Part Start */
.navbar-part{
    background: #2a2a2a;
}
.navbar-part .container {
    width: 995px;
    margin: 0 auto;
}
.navbar-nav{
    padding-left: 40px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
}
.navbar-light .navbar-nav .nav-link.active:hover {
    color: #ffe400;
}
/* Navbar Part End */
/* About Part Start */
.about-part{
    background-image: url("../img/about/bg.png");
    background-repeat: no-repeat;
    padding: 40px 0;
}
.about-part .container {
    width: 995px;
    margin: 0 auto;
}
.about-header h5{
    color: #e8e8e8;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.about-header h6{
    color: #444444;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: -59px;
}
.about-header p{
    color: #757575;
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
    padding-top: 20px;
}
    /* About Button Part */
.about-button-main{
    padding-top: 40px;
}
.about-button1{
    border: none;
    background: #000000;
    color: #ffe400;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 45px;
    margin-right: 10px;
}
.about-button2{
    border: none;
    background: #ffe400  ;
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 30px;
}
    /* About Button End */
.about-con-main{
    padding-top: 70px;
}
.about-con{
    background: #000;
    padding: 60px 0px;
}
.about-con .about-img3 img{
    width: 78px;
}
.about-con h5{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}
.about-con2{
    background-image: url("../img/about/iconbg/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 12px;
}
.about-img2 img{
    padding-top: 25px;
}
.about-content h5{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-top: 20px;
}
.about-content p{
    color: #ffffff;
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
}
.hear-content h5{
    color: #444444;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-top: 90px;
}
    /* Count Part Start */
.count-part{
    padding-top: 80px;
}
.count-con h5{
    color: #444444;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.count-con p{
    color: #757575;
    font-size: 14px;
    font-family: 'Mulish', sans-serif;
    margin-top: -10px;
}
    /* Count Part End */
/* About Part End */
/* Booster Part Start */
.booster-part{
    background: #f9f9f9;
}
.light-con img{
    padding-bottom: 30px;
    width: 170px;
}
.responsive-con-mai{
    padding-top: 85px;
    padding-bottom: 50px;
}
.responsive-header h5 {
    color: #e8e8e8;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.responsive-header h6 {
    color: #444444;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: -46px;
    padding-left: 4px;
}
.responsive-header p{
    color: #757575;
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
    padding-top: 15px;
}
.responsive-content{
    padding-top: 30px;
}
.boss-con i{
    color: #757575;
    font-size: 15px;
}
.boss-con p{
    color: #757575;
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
    margin-top: -2px;
    padding-left: 5px;
}
.Purch{
    border: none;
    background: #ffe300;
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 30px;
    margin-top: 20px;
}
.run-responsive img{
    padding-top: 135px;
}
/* Booster Part End */
/* Who Part Start */
.who-part {
    background-image: url(../img/who/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 80px;
}
.who-part .container{
    width: 700px;
    margin: 0 auto;
    overflow: hidden;
}
.who-header h5{
    color: #fdfdfd;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 40px;
}
.who-header p{
    color: #757575;
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
    padding-top: 10px;
}
.who-button-main{
    padding-top: 40px;
}
.who-button1{
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 45px;
    margin-right: 10px;
}
.who-button2{
    border: none;
    background: #ffe400  ;
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 30px;
}
/* Who Part End */
/* Feature Part Start */
.feature-part{
    padding: 60px 0px;
}
.feature-part .container{
    width: 1000px;
    margin: 0 auto;
}
.feature-header h5 {
    color: #e8e8e8;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.feature-header h6 {
    color: #444444;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: -52px;
}
.feature-con-main{
    padding-top: 40px;
}
.feature-con{
    padding-top: 20px;
}
.feature-img img {
    padding-top: 3px;
    padding-right: 15px;
}
.feature-content h5{
    color: #444444;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.feature-content p{
    color: #757575;
    font-size: 14px;
    font-family: 'Mulish', sans-serif;
}
/* Feature Part End */
/* Work Part Start*/
.work-part{
    background: #ffe300;
    padding: 40px 0px;
}
.work-header h5{
    color: #e8d100;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.work-header h6 {
    color: #444444;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: -53px;
}
    /* Button Part Start */
.button-con-main{
    padding-top: 30px;
}
.button1{
    border: none;
    background: none;
}
.button2 {
    border: 2px solid #000000;
    background: none;
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 1px;
    padding: 4.5px 15px;
    margin-right: 10px;
}
.button3-section{
    margin-left: -23px;
}
    /* Button Part End */
    /* Portfolio Part Start */
.port-part{
    padding-bottom: 40px;
}
.port-con-ma{
    position: relative;
}
.port-img {
    margin-left: -25px;
    margin-right: -12px;
}
.port-img:hover .port-overfolo{
    opacity: 1;
}
.port-overfolo {
    width: 108%;
    height: 30%;
    background: rgb(228 225 222 / 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    bottom: 0;
    opacity: 0;
    transition: 1s;
}
.overfolo-content {
    margin-left: 0;
    padding-top: 20px;
}
.overfolo-content h5{
    color: #444444;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.overfolo-content p{
    color: #757575;
    font-size: 8px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    margin-top: 3px;
}
    /* overflio icon Part */
.overfolio-icon {
    padding: 5px 7px;
    background: rgb(228 225 222 / 60%);
    border-radius: 49px;
    margin-left: 20px;
    margin-top: -50%;
    cursor: pointer;
}
.icon1 i {
    padding: 7px 8px;
    background: #ffffff;
    border: 1px solid #000;
    border-radius: 40px;
    font-size: 12px;
    margin-right: 3px;
}
.icon2 i {
    padding: 7px 8px;
    background: #ffe300;
    border-radius: 40px;
    font-size: 12px;
}
    /* overflio icon End */
    /* Portfolio Part End */
/* Work Part End*/
/* Service Part Start */
.service-part{
    padding-top: 40px;
}
.service-img-con{
    margin-left: -10px;
}
.service-con-mai{
    padding-top: 75px;
}
.service-header h5 {
    color: #e8e8e8;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.service-header h6 {
    color: #444444;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: -46px;
    padding-left: 4px;
}
.servic-section1{
    border-bottom: 2px solid #e6e6e6;
    border-right: 2px solid #e6e6e6;
    padding: 20px 0;
    margin-left: -26px;
}
.servic-section2 {
    border-bottom: 2px solid #e6e6e6;
    border-left: 2px solid #e6e6e6;
    padding: 20px 0;
    margin-left: -26px;
    margin-top: 9px;
}
.servic-section3{
    border-right: 2px solid #e6e6e6;
    padding: 20px 0;
    margin-left: -26px;
}
.servic-section4{
    padding: 20px 0;
    margin-left: -26px;
}
.service-content {
    padding-top: 15px;
}
.service-content h5{
    color: #444444;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.service-content p{
    color: #444444;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
/* Service Part End */
/* Pricing Part Start */
.pricing-part{
    background-image: url('../img/pricing/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
}
.pricing-part .container{
    width: 1000px;
    margin: 0 auto;
}
.pricing-header{
    padding-top: 40px;
}
.pricing-header h5 {
    color: #e8d100;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.pricing-header h6 {
    color: #444444;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: -53px;
}
.pricing-con-main{
    padding: 80px 0px;
}
.most-popular2{
    background: #ffffff;
    margin-top: 45px;
}
.pricing-con2{
    background: #ffffff;
}
    /* Pakage 1 Start */
        /* Pakage Img Part Start */
.img-part1{
    background-image: url('../img/pricing/pakage/1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}
.img-part1 h6{
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.price-p{
    padding-top: 15px;
}
.price-p p{
    color: #ffffff;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}
.price-p h5{
    color: #ffffff;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
.price-p h6 {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 32px;
}
.img-part1 h4{
    color: #dbdbdb;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3px;
    font-weight: 500;
}
        /* Pakage Img Part End */
        /* Pakeage Content part Start */
.price-content{
    padding-top: 60px;
}
.price-content i {
    color: #808080;
    font-size: 10px;
    margin-top: 5px;
    margin-right: 5px;
}
.price-content p{
    color: #808080;
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
}
.price-cont2{
    border-top: 1px solid #f0f0f0;
    padding-top: 15px;
}

        /* Pakeage Content part End */
.butto1 {
    background: #FFFFFF;
    border: none;
    margin-top: 5px;
    color: #444444;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 309px;
    height: 40px;
}
    /* Pakage 1 End */
    /* Pakge 2 Start */
.img-part2{
    background-image: url('../img/pricing/pakage/2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}
.img-part2 h6{
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.img-part2 h4{
    color: #dbdbdb;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3px;
    font-weight: 500;
}
    /* Pakge 2 End */
    /* Pakge 3 start */
.img-part3{
    background-image: url('../img/pricing/pakage/3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}
.img-part3 h6{
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.img-part3 h4{
    color: #dbdbdb;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3px;
    font-weight: 500;
}
    /* Pakge 3 End */
/* Pricing Part End */
/* Expert Part Start */
.expert-part{
    padding-top: 60px;
    padding-bottom: 20px;
}
.expert-part .container{
    width: 1000px;
    margin: 0 auto;
}
.expert-con-main{
    padding: 60px 0;
}
.expert-header h5 {
    color: #f0f0f0;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.expert-header h6 {
    color: #444444;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: -53px;
}
.expert-content{
    background: #ebebeb;
    margin-top: 10px;
    padding: 0 10px;
}
.expert-content h5{
    color: #444444;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 0;
    font-weight: 600;
    padding-top: 10px;
}
.expert-content p{
    color: #444444;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: -3px;
    padding: 6px 0px;
    border-top: 1px dashed #b7b7b7;
}
.expert-hover{
    width: 100%;
    height: 100%;
    background: #ffe400;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s;
}
.expert-con-mai{
    position: relative;
}
.expert-hover-content h5{
    color: #000000;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-top: 65px;
}
.expert-hover-content h6{
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: -3px;
}
.expert-hover-content p{
    color: #000000;
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
    padding: 0px 10px;
    margin-top: 60px;
}
.expert-hover-icon i{
    color: #6b6000;
    font-size: 25px;
    padding-right: 10px;
    margin-top: 85px;
    cursor: pointer;
}
.expert-con:hover .expert-hover{
    opacity: 1;
    transform: rotateY(360deg);
    transition: 1.5s;
}
/* Expert Part End */
/* Are Part Start */
.are-part{
    background-image: url('../img/are/Final-Projet-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}
.are-content{
    padding-bottom: 40px;
}
.are-content h5{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
}
.are-content p{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #ffffff;
    margin-top: -10px;
}
    /* Are Button Part Start */
.are{
    border: none;
    background: #ffe300;
    color: #000000;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 30px;
    margin-top: 20px;
    margin-right: 5px;
    font-weight: 600;
}
.are2{
    border: none;
    background: #ffffff;
    color: #000000;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 30px;
    margin-top: 20px;
    font-weight: 600;
}
    /* Are Button Part End */
/* Are Part End */
/* News Part Start */
.news-part{
    padding: 90px 0;
}
.news-part .container{
    width: 1000px;
    margin: 0 auto;
}
.news-header h5 {
    color: #e8e8e8;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.news-header h6 {
    color: #444444;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: -52px;
}
.news-con-main{
    padding: 60px 0; 
    padding-bottom: 0px;
}
.news-con{
    position: relative;
}
.news-button{
    color: #444444;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background: #f9f9f9;
    border-radius: 50px;
    padding: 7px 30px;
    position: absolute;
    top: 40%;
    left: 19%;
    cursor: none;
    border: 1px solid #f9f9f9;
}
.head-content h5{
    color: #444444;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 40px;
}
.head-content p{
    color: #969595;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}
.news-con h6{
    color: #757575;
    font-size: 13px;
    font-family: 'Mulish', sans-serif;
    text-align-last: left;
    padding: 0 10px;
}
.read-more-button{
    border: none;
    color: #444444;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background: #f9f9f9;
    border-radius: 50px;
    padding: 8px 25px;
    margin-top: 10px;
    transition: 1s;
}
.read-more-button:hover{
    border: 1px solid #000000;
    background: #ffe300;
    transition: 1s;
}
/* News Part End */
/* Contact Part Start */
.content-part{
    background-image: url('../img/content/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}
.content-part .container{
    width: 1000px;
    margin: 0 auto;
}
.content-header h5 {
    color: #e6e6e6;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.content-header h6 {
    color: #444444;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: -52px;
}
.contact-con-main{
    padding-top: 60px;
}
.form{
    margin-top: 15px;
}
.form-control{
    color: #444444;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 11px 15px;
}
.massage{
    margin-top: 15px;
}
textarea.form-control {
    min-height: calc(25em + (0.75rem + 2px));
}
.form-floating>label {
    top: -7px;
    left: 4px;
    color: #808080;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.send{
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    background: #ffe300;
    border: none;
    padding: 7px 25px;
    font-weight: 600;
    margin-top: 15px;
}
/* Contact Part End*/
/* Map Part Start */
.map-part{
    background-image: url('../img/map/Final-Projet-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.map-con h5{
    color: #000000;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 50px 0;
}
.map-con i {
    margin-top: 55px;
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}
/* Map Part End */
/* Footer Part Start */
.Footer-part{
    background: #212020;
    padding: 60px 0;
}
.Footer-part .container{
    width: 1000px;
    margin: 0 auto;
}
.footer-img h5{
    color: #ffffff;
    font-size: 13px;
    font-family: 'Mulish', sans-serif;
    padding-top: 25px;
}
.footer-icon i{
    color: #ffffff;
    font-size: 25px;
    padding-right: 15px;
    margin-top: 42px;
    cursor: pointer;
}
.copy-right{
    color: #ffffff;
    font-size: 13px;
    font-family: 'Mulish', sans-serif;
    background: #2d2d2d;
    padding-top: 15px;
    overflow: hidden;
}
/* Footer Part End */