@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Background Part Start */
.bg-part {
    background-image: url(../img/bgimg/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 198px 0;
}
.bg-part .container{
    width: 995px;
    margin: 0 auto;
}
.bg-con-main {
    margin-top: 125px;
    margin-left: 73px;
}
.bg-con-main h5{
    color: #444444;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.bg-con-main p{
    color: #757575;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    padding-top: 30px;
}
.click{
    border: 1px solid #434343;
    background: transparent;
    color: #444444;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 30px;
}
/* Background Part End */